<div class="example-form text-center p-4 py-5 myForm">
    <h1>AUTHENTICATE YOUR ACCOUNT</h1>
    <span class = "text-info">{{message}}</span>
    <div class = "text-danger mt-1 h5"></div>
    <div class = "d-flex flex-column myInput">
        <mat-form-field class="example-full-width px-4" appearance="fill">
            <mat-label>Your Email</mat-label>
            <input type = "text" (keyup) = "onKey($event)" name = "email" matInput/>
        </mat-form-field>
        <div class = "d-flex ml-5 myLink">
            <div class = "d-flex">
                <p class ="">Already have account? </p><a class="registerLink" routerLink = "/auth/login">Login here</a> 
            </div>     
        </div>
        <button (click)="authenticateEmail()" mat-raised-button color="accent">Send to my email</button>
    </div>
</div>

