.myMenu{
    width: 25%;
    border-radius: 20px;
}

.myFunction{
    width: 100vw;
}

/* .myBackground{
    background-image: url('https://wallpaperaccess.com/full/253332.jpg');
    background-repeat: no-repeat;
    background-size: cover;
} */