<div class = "myBackground w3-animate-bottom">
    <div class = "digitalClock text-center">
        <h1 class = "pt-3 px-2">Dreamy Library</h1>
        <img src="https://img.collegedekhocdn.com/media/img/news/digital_book_comp_600_1.jpg?tr=h-310,w-615" class = "myLogo"/>
        
        <div class = "dayTitle my-4">
            {{this.day}}, {{this.today}}
        </div>
        <div class = "digitalTime d-flex my-4">
            <div class ="px-2">{{this.hour}}   :</div>
            <div class ="px-2">{{this.minute}}   :</div>
            <div class ="px-2">{{this.second}}</div>
            <div class ="px-2">{{this.ampm}}</div>
        </div>
    </div>

</div>

