<div class = "">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <img src="https://img.collegedekhocdn.com/media/img/news/digital_book_comp_600_1.jpg?tr=h-310,w-615" class = "myLogo"/>
        <h1 class = "pt-3 px-2">Dreamy Library</h1>
      <div class="collapse navbar-collapse" id="navbarSupportedContent mt-3">
      </div>
      <div class = "d-flex w-50">
        <div class="input-group mySearchInput ml-4 mySearch d-flex">
          <input type="text" class="form-control myInput" placeholder="Search..." aria-label="Recipient's username" aria-describedby="button-addon2">
          <button class="btn btn-outline-secondary" type="button" id="button-addon2">Button</button>
        </div>
        <button class = "d-flex" mat-button [matMenuTriggerFor]="menu">
          <mat-icon class = "pt-1 mr-2">account_circle</mat-icon>
          <h2>{{name}}</h2>
        </button>
          <mat-menu #menu="matMenu">
            <button *ngIf = "auth" (click)="goToMyInfo()" mat-menu-item>Thông tin cá nhân</button>
            <button *ngIf = "auth" (click)="logout()" mat-menu-item>Đăng xuất</button>
            <button *ngIf = "!auth" (click)="loginAccount()" mat-menu-item>Đăng nhập</button>
          </mat-menu>
      </div>
    </div>
</nav>
  <div class="list-group d-flex flex-row text-center">
    <a routerLink = "/home/mainPage" class="list-group-item list-group-item-action">Trang Chủ</a>
    <a routerLink='/home/allCategories' class="list-group-item list-group-item-action">Danh Mục Sách</a>
    <a routerLink="/home/allNews" class="list-group-item list-group-item-action">Tin Tức</a>
    <a routerLink="/home/authors" class="list-group-item list-group-item-action">Tác Giả</a>
    <a routerLink="/home/blogs" class="list-group-item list-group-item-action">Blog</a>
    <a *ngIf = "role" routerLink="/home/admin/homeAdmin" class="list-group-item list-group-item-action">Quản Lý Trang</a>
  </div>
</div>