.dark-overlay{
    background-color: rgba(0,0,0,0.5);
    width: 100vw;
    height: 500vh;
    position:absolute;
    top: 0;
    left: 0;
}

.mySpinner{
    position:absolute;
    top: 20vh;
    left: 45vw;
}

