<div class = "myBackground">
    <div class="container mt-4 d-flex">
        <div class = "myMenu mt-4">
            <a routerLink="/home/admin/homeAdmin" class="list-group-item list-group-item-action text-center p-2">Trang Chủ</a>
            <a routerLink="/home/admin/users" class="list-group-item list-group-item-action text-center p-2">Danh Sách Người Dùng</a>
            <a routerLink="/home/admin/listAuthors" class="list-group-item list-group-item-action text-center p-2">Danh Sách Tác Giả</a>
            <a routerLink="/home/admin/insertAuthor" class="list-group-item list-group-item-action text-center p-2">Thêm Tác Giả</a>
            <a routerLink="/home/admin/insertBook" class="list-group-item list-group-item-action text-center p-2">Thêm Sách</a>
            <a routerLink="/home/admin/addCategory" class="list-group-item list-group-item-action text-center p-2">Thêm Danh Mục</a>
            <a routerLink="/home/admin/insertNews" class="list-group-item list-group-item-action text-center p-2">Thêm Tin Tức</a>
        </div>
        <div class = "myFunction px-4 mt-4">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

