<h1 class = "w3-animate-top">Thêm Tin Tức</h1>
<hr />
<div class="input-group mb-3 w3-animate-top">
  <span class="input-group-text" id="basic-addon3">Tiêu Đề</span>
  <input (keyup)="getInfo($event)" name = "title" type="text" class="form-control"  aria-describedby="basic-addon3">
</div>
<div class="form-floating w3-animate-top">
    <textarea (keyup)="getInfo($event)" name = "introduction" class="form-control" placeholder="Leave a comment here" id="floatingTextarea" style="height: 100px"></textarea>
    <label for="floatingTextarea">Lời Giới Thiệu</label>
</div>
<div class="d-flex flex-column my-4 w3-animate-top">
    <label>Hình Tiêu Đề</label>
    <input (change)="upThumnail($event)" class = "mt-4" type="file" accept="*.png.jpg">
    <img class = "showImage" [src]="this.urlImage"/>       
</div>
<ckeditor #content class = "myContent w3-animate-top" [editor]="Editor" (ready)="onReady($event)"></ckeditor>
<!-- <angular-editor [placeholder]="'Enter text here...'" [config]="editorConfig"></angular-editor> -->
<button (click)="addNews()" type="button" class="btn btn-primary mt-3 w3-animate-top">Thêm Tin Tức</button>


<app-spinner-effect *ngIf = "showSpinner"></app-spinner-effect>





